ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
	display: flex;
}

li{
	padding: 0 8px;
}

.boardMin{
	color: white;
	width: 170px;
	height: 80px;
	background: grey;
	margin: 10px 10px;
}

a:hover, a:visited, a:link, a:active {

    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.listTitle{
	background: lightgrey;
	margin: 0;
}
.card{
	padding: 16px;
	margin: 0 0 8px 0;
	background: #a5a5a5;
}
.card:hover{
	background: gray;
}
.addCard{
	padding: 2px 16px;
	margin: 0 0 8px 0;
	background: lightgrey;
	display: block;
}
.addList{
	background: lightgrey;
	padding: 2px;
	width: 250px;
	height: 27px;
}
.addCard:hover,.addList:hover{
	text-decoration: underline;
	background: darkgray;
}
