html, body, .container, .routerDiv, .list, #root
{
    height:100%;
}
.cont{
	padding:0;
	height: calc(100% - 100px); 
}
ol, ul {
	height: calc(100% - 100px); 
    list-style: none;
    margin: 0;
    padding: 0;
	display: flex;
}

li{
	padding: 0 8px;
}
.header{
	background: #026aa7;
	text-align:center;
	display: flex; 
	margin: 0 0 10px 0;
	position: sticky;
}
.block {
    text-align:left;
}
.center {
    margin:auto;
}
.left {
	width:300px;
    margin:auto auto auto 0;
}
.right {
	width:300px;
    margin:auto 0 auto auto;
}
.helloUser{
	display: inline-block;
	color: white;
}
.homebtn{
	background: #3e8bcf;
	padding: 5px;
	margin: 5px;
}
.homebtn:hover{
	background: #2886d8;
}
.logo{
	transition: all 0.1s linear;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
}
.logo:hover{
	background: #2886d8;
}

.list{
	flex-wrap: wrap;
}
.boardMin{
	color: white;
	width: 170px;
	height: 80px;
	background: grey;
	margin: 10px 10px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.listTitle{
	background: lightgrey;
	margin: 0;
}
.card{
	padding: 16px;
	margin: 0 0 8px 0;
	background: #a5a5a5;
}
.card:hover{
	background: gray;
}
.addCard{
	padding: 2px 16px;
	margin: 0 0 8px 0;
	background: lightgrey;
	display: block;
}
.addList{
	background: lightgrey;
	padding: 2px;
	min-width: 250px;
	height: 27px;
}
.addListBig{
	height: 72px;
	padding: 2px 16px;
}
.addCard:hover,.addList:hover{
	text-decoration: underline;
	background: darkgray;
}
.addCardBtn{
	background: #5aac44;
	color: white;
}
.addCardTxtArea{
	resize: none;
    min-width: 15px;
    min-height: 10px;
    max-width: 200px;
	max-height: 60px;
	margin: 0 0 2px 0;
}
.xbtn{
	background-color: transparent;
    border-color: transparent;
    box-shadow: none;
	margin: 0 0;
}
.rightCorner{
	position: absolute;
    right: 15px;
}
.btn:focus {
  outline: none;
}

.cardModal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:50%;
	min-width: 500px;
	min-height: 80%;
	max-height: 100%;
   background: lightgray;
   overflow: auto;
}
.cardContent{
	padding: 10px;
	max-height: 100%;
}

.sidebarInside{
	bottom:47px;
	background: lightgray;
}
.boardActivity{
	height:100%;
	padding: 5px;
	overflow: auto;
}
.Observerbtn{
	margin: 2px 2.5px;
}
.popover{
	max-width: 500px;
}
.Observer{
	display: flex; 
}
.activity{
	margin-bottom: 5px;
}
.activityBtnsCont{
	display: flex;
	font-size: 20px;
	padding: 5px 0px;
}
.activityBtns{
	height: 13px;
	padding: 0px 20px;
}
#cardTodoList {
  margin: 0 auto;
  text-align: left;
}
ul {
  list-style: none;
}
ul>li:hover {
  background-color: #F5F5F5;
}
.done {
  color: red;
  text-decoration: line-through;
  display: flex; 
}
.undone {
  color: #61DAFB;
  display: flex; 
}
.icon {
  margin: 6px 10px 6px 0;
}
.tasklist{
	width :50%;
}
.list-group-item{
	padding: 0px;
}
.close{
	height: 100%;
}
.paddingZero{
	padding: 0px;
}
.flexDivs{
	display: flex; 
}
.paddingRight5{
	padding-right: 5px;
}
.marginRight5{
	margin-right: 5px;
}
.width{
	width: 300px;
}